body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 180vh;*/
    background-color: #f0f0f0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

span {
    cursor: pointer;
}

#lyrics {
    text-align: center;
    font-size: 1.1em;
    margin: 20px;
    color: #333;
}

#counter {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color: #555;
}

.word {
    position: relative;
    white-space: nowrap;
    color: lightblue;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.word:hover {
    color: darkblue;
    transform: scale(1.1);
}

.text-red {
    color: red !important;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

.text-black {
    color: black;
}

.word::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: red;
    overflow: hidden;
    animation: run-text var(--animation-duration, 1s)  forwards linear;
    animation-play-state: var(--animation-play-state, running);
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

@keyframes run-text {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#typedtext {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 40px;
    margin: 10px 50px;
    letter-spacing: 6px;
    font-weight: bold;
    color: #333;
}
```

